<p>this is index</p><% @animals.each do |animal| %>
  <p>Name: <%=animal.name%></p>
  <p>Type: <%=animal.type%></p>
  <p>Admission Date: <%=animal.admission_date%></p>
  <p>Available: <%=animal.available%></p>
  <p>Owner: <%=animal.owner_id%></p>
  <p><a href="/animals/<%=animal.id%>">Show Animal</a></p>
<hr/>
<%end%>
