<h1>ADOPT THIS ANIMAL</h1>


<p><strong><%=@animal.animal_name%></strong></p>
<img class="show_image" src=<%=@animal.image%> alt=<%@animal.animal_name%>>


<form action="/animals/<%=@animal.id%>/adopt" method="post">


<label class= "label-tag" for="owner_select"><strong>Select Owner:</strong></label>
    <select class="custom-select" name="owner_id" id="owner_select">
      <% @owners.each do |owner| %>
          <option value=<%= owner.id %>><%= owner.name%></option>
        <% end %>
    </select>

  <input type="hidden" name="available" id="available" value="no">
  <input class="button" type="submit" value="Adopt Animal">
</form>
