
<h1>Animals We Currently Have:</h1>

<form action="/animals/search/for/animal" method="post">
  <input type="text" placeholder="Search">
  <input type="submit" value="search by type">
</form>

  <% @animals.each do |animal| %>
  <p>Name: <%=animal.animal_name%> </p>
  <p>Type: <%=animal.type%> </p>
  <p>Available: <%=animal.available%></p>
  <p>Resident Since: <%=animal.admission_date%></p>
  <p>Owner: <%=animal.owner.name%></p>
  <p><a href="/animals/<%=animal.id%>">More Information</a></p>
  <img src=<%=animal.image%> alt=<%animal.animal_name%>>

    <%end%>
