
<p>Animal Name: <%=@animal.animal_name%></p>
<p>Type: <%=@animal.type%></p>
<p>Resident Since: <%=@animal.admission_date%></p>
<p>Available: <%=@animal.available%></p>
<img src=<%=@animal.image%> alt=<%@animal.animal_name%>>


  <% if @animal.available == "yes" %>
  <a href="/animals/<%=@animal.id%>/adopt">Adopt Animal</a>
  <%end%>
